// @import '~bootstrap/scss/bootstrap';
div.container {
  max-width: 2000px;
  height: 634px;
  // left: 0px;
  // top: 0px;

  margin: 0px;
}

div.header {
  // display: inline-flex;
  // flex-wrap: nowrap;
  background: #F9FAFD;
  mix-blend-mode: normal;
  .header-copy {
    display: flex;
    // position: relative;
    // width: 50%;
    // flex-wrap: nowrap;
    // flex-direction: col;
    // align-items: center;
    // block-start: 100px;
    // vertical-align: middle;
    justify-content: center;
    align-items: center;
    .row {
      // display: flex;
      // position: relative;
      // width: 514px;
      // height: 290px;
      // left: 89px;
      // top: 188px;

      max-width: 514px;

      // margin: 0 auto;
    h2 {
      // display: inline-block;
      // align-self: center;
      // height: 110px;
      // width: 514px;
      // left: 0px;
      // top: 0px;
      // border-radius: nullpx;

      margin: 0px;
      padding-left: 0px;
      

      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 64px;
      line-height: 100%;
      /* or 64px */

      // display: flex;
      // align-items: center;
      letter-spacing: -0.03em;

      color: #2B2F35;
    }
    h2[value="line-2"] {
      color: #FD815A;
    }
    p {
      display: flex;
      margin: 40px 0px 40px 0px;
      padding-left: 0px;
      // max-width: 248px;

      // left: 0%;
      // right: 0%;
      // top: 51.72%;
      // bottom: 31.72%;

      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 160%;
      /* or 32px */

      // display: flex;
      align-items: center;

      color: #535C68;
    }
    .row {
      flex-wrap: nowrap;
      .btn[value="try-it-free"] {
        margin-right: 8px;
        background: #FD815A;
        border: unset;
        max-width: 156px;
      }
      .btn[value="download"] {
        margin-left: 8px;
        background: #E6ECFF;
        border: unset;
        color: #4965CB;
        max-width: 156px;
      }
    }
  }
  }
  .header-image {
    position: relative;
    width: 620px;
    height: 634px;
    left: 0px;
    top: 0px;
  }
}

div.feature-section {

}


div.feature-section-header {
  // position: absolute;
  width: 692px;
  align-items: center;
  // height: 135px;
  // left: 265px;
  // top: 0px;
  p.feature-section-overline {
    // position: absolute;
    margin: 0px;

    // width: 112px;
    height: 12px;
    left: 290px;
    top: -2px;

    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    // display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #7B8798;
  }

  h3 {
    margin: 0px;

    left: 0%;
    right: 0%;
    top: 22.22%;
    bottom: 56.3%;

    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 100%;
    /* or 40px */

    // display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;

    color: #2B2F35;
  }
  p.feature-section-description {
    margin: 0px;

    left: 0%;
    right: 0%;
    top: 64.44%;
    bottom: 0%;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */

    // display: flex;
    align-items: center;
    text-align: center;

    color: #535C68;
  }
}

div.feature-grid {
  display: inline-flex;
}

div.feature {
  // position: absolute;
  display: inline-flex;

  left: 5.98%;
  right: 51.37%;
  top: 0%;
  bottom: 94.21%;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  // line-height: 160%;
  /* or 32px */

  align-items: top;

  color: #2B2F35;
  div.feature-content {
    margin-left: 5px;

    h4 {
      margin: 0px;
    }

    p {
      margin: 0px;

      left: 5.98%;
      right: 51.37%;
      top: 15.7%;
      bottom: 59.5%;

      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;
      /* or 26px */

      display: flex;
      align-items: center;

      color: #535C68;
    }
  }
}

div.cta {
  background: #F9FAFD;
  mix-blend-mode: normal;
  h2 {
      // display: inline-block;
      align-self: center;
      // height: 110px;
      // width: 514px;
      // left: 0px;
      // top: 0px;
      // border-radius: nullpx;

      margin: 0px;

      // left: 0%;
      // right: 0%;
      // top: 0%;
      // bottom: 62.07%;

      font-family: Inter;
      font-style: normal;
      font-weight: bold;
      font-size: 64px;
      line-height: 100%;
      /* or 64px */

      // display: flex;
      // align-items: center;
      letter-spacing: -0.03em;

      color: #2B2F35;
    }
    h2[value="line-2"] {
      color: #FD815A;
    }

    .btn[value="try-it-free"] {
      background: #FD815A;
      border-radius: 8px;
    }
    .btn[value="learn-more"] {
      background: #E6ECFF;
      border-radius: 8px;
      color: #4965CB;
    }
}

div.footer {
  background: #333B49;
  mix-blend-mode: normal;
  h2 {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 93.02%;

    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 160%;
    /* or 22px */

    display: flex;
    align-items: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #8F9AAA;
  }

  li {
    a {
      left: 0%;
      right: 0%;
      top: 23.26%;
      bottom: 69.77%;

      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;
      /* or 26px */

      display: flex;
      align-items: center;

      color: #C1C8D6;
    }
  }
  div.footer-line {
    width: 1224px;
    height: 0px;
    left: 0px;
    top: 0px;

    border: 1px solid #4E5767;
  }
  div.company-info {
    p {
      left: 0.08%;
      right: 71.57%;
      top: 65.96%;
      bottom: 8.51%;

      font-family: Inter;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 160%;
      /* or 26px */

      display: flex;
      align-items: center;

      color: #C1C8D6;
    }
  }
}