@import './navbar.scss';
@import './header.scss';
@import './feature-section.scss';
@import './cta.scss';
@import './footer.scss';

div.container {
  max-width: 2000px;
  height: 634px;
  padding: 0px;
  margin: 0px;
  font-family: Inter, sans-serif;

  button.btn {
    max-width: 156px;
    max-height: 52px;
    border: unset;
    text-transform: uppercase;
    font: 16px, Inter, sans-serif;
    font-weight: bold;
    letter-spacing: 0.1em;
    line-height: 2.0;

    &:hover {
      filter: brightness(0.7);
    }
  }
}
