
div.feature {
  position: absolute;
  left: 5.98%;
  right: 51.37%;
  top: 0%;
  bottom: 94.21%;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 160%;
  /* or 32px */

  display: flex;
  align-items: center;

  color: #2B2F35;
}