div.cta {
  background: #f9fafd;
  max-height: 224px;
  padding: 0px 88px;
  margin: 0px;

  .col {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 224px;
    padding: 0px;
  }

  div.cta-copy {
    display: inline-flex;
    margin: 0px;
    padding: 0px;

    h2 {
      margin: 0px;
      padding: 0px;

      font-weight: bold;
      font-size: 40px;
      line-height: 100%; /* or 40px */
      letter-spacing: -0.03em;

      color: #2b2f35;
    }

    h2:nth-child(2) {
      color: #fd815a;
    }
  }

  div.cta-buttons {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: right;
    margin: 0px;
    width: 100%;

    .btn[value="try-it-free"] {
      background: #fd815a;
      margin-right: 8px;
    }

    .btn[value="learn-more"] {
      background: #e6ecff;
      margin-left: 8px;

      color: #4965cb;
    }
  }
}
