div.header {
  background: #f9fafd;
  padding: 0px;
  margin: 0px;

  .header-copy {
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 88px;

    .row {
      margin: 0;
      max-width: 514px;

      h2 {
        margin: 0px;
        padding: 0px;
        font-weight: bold;
        font-size: 64px;
        line-height: 100%; /* or 64px */
        letter-spacing: -0.03em;
        color: #2b2f35;
      }

      h2:nth-child(2) {
        color: #fd815a;
      }

      p {
        display: flex;
        margin: 40px 0px 40px 0px;
        padding: 0px;
        font-size: 20px;
        line-height: 160%; /* or 32px */
        align-items: center;

        color: #535c68;
      }

      .row {
        flex-wrap: nowrap;
        padding: 0px;

        .btn[value="try-it-free"] {
          margin-right: 8px;
          background: #fd815a;
        }

        .btn[value="download"] {
          margin-left: 8px;
          background: #e6ecff;
          color: #4965cb;
        }
      }
    }
  }

  .header-image {
    padding: 0px;
    max-width: 620px;
    max-height: 634px;
    left: 0px;
    top: 0px;
    background-color: #5a7efd;

    img {
      padding: 0px;
      mix-blend-mode: hard-light;
    }
  }
}
